node_modules/
dist/
.env
.env.*
exported_sections.pdf
exported_outputs.json
SUPABASE_README.md
supabase_config.json
transform_json_format.py
cookies.json
create_table.sql
.cache/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
.vscode/
/.idea/
/.nyc_output/
coverage/
/.sass-cache/
*.log
/.parcel-cache/
/.pnp.cjs
/.pnp.js

# Ignore local OS files
Thumbs.db
ehthumbs.db
.env
